<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374306540056-nktagccpqofvip2iiuth1mpqb72mr1so.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374306540056-nktagccpqofvip2iiuth1mpqb72mr1so</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>374306540056-0cu3ro1u65nmcegtaphb57ng9jrg24f6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsDfkdQe4WTT9OKtHmDUbNvEKb-W3vYX4</string>
	<key>GCM_SENDER_ID</key>
	<string>374306540056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anorg.name.anabada</string>
	<key>PROJECT_ID</key>
	<string>clip-b0e37</string>
	<key>STORAGE_BUCKET</key>
	<string>clip-b0e37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374306540056:ios:75a9e5a7b0215d355f916d</string>
</dict>
</plist>